<!DOCTYPE html>
<style>
body {
	background-color:pink;
}
h1{
	color:black;
	font-family: monospace;
	font-size: 30px;
}
a{
	color:black;
	font-family: monospace;
	font-size: 20px;
}
</style>
<html>
<title>HomePage</title>
<h1> Home Page </h1>
<body>


<a href="home.html" >create your portofolio </a>
</br>







</html>
</body>

