<!DOCTYPE html>
<style>
body {
	background-color:pink;
}
h1{
	color:black;
	font-family: monospace;
	font-size: 30px;
}
a{
	color:black;
	font-family: monospace;
	font-size: 20px;
}
</style>
<html>
<title>Login</title>
<h1> Login  </h1>
<body>

	
	<form method="post" id="form2" action="/login.html">

		Username <input type="text" name="username" id ="user" required > 
</br>
	Password <input type="password" name="password" id="pass" required >
</br>
<button id="myButton"  onclick="clicked()" type:"Submit" >login</button>

</br>
<script>
function clicked(){
	
}



</form>

	





</body>
</html> 