<!DOCTYPE html>
<style>
body {
	background-color:pink;
}
h1{
	color:black;
	font-family: monospace;
	font-size: 30px;
}
a{
	color:black;
	font-family: monospace;
	font-size: 20px;
}
</style>
<html>
<title>Visitor</title>

<body>



<a href="vs.html" >View student's Portfolios </a>
</br>







</html>
</body>

	