<!DOCTYPE html>
<style>
body {
	background-color:pink;
}
h1{
	color:black;
	font-family: monospace;
	font-size: 30px;
}
a{
	color:black;
	font-family: monospace;
	font-size: 20px;
}
</style>


<html>
<title>Welcome to MET Website</title>
<h1> Welcome! </h1>
<body>


<a href="register.html" >Register </a>
</br>
<a href="login.html" >Login</a>
</br>
<a href="visitor.html" >Visitor </a>
</br>

</body>
</html> 